// -------------------------------------
//   Buttons
// -------------------------------------

	.action-mixin() {
		margin: 1px 1px 3px 1px;
		display: table;
		padding: @content-gutter/2 @default-gutter/2;
		
		border: none;
		border-radius: @default-radius;

		#gradient > .vertical(#F6F6F6, #E0E0E0);
		box-shadow: inset 0 0 30px #FFFFFF,
						  0 1px 3px rgba(0,0,0,0.25);

		i, p {
			display: table-cell;
			vertical-align: middle;

			color: @heart-red;
			text-shadow: 0 1px 0 rgba(255,255,255,0.9);
		}

		i {
			width: 30px; max-width: 30px;
		}
		
		p {
			white-space: nowrap;
			overflow-x: hidden;

			padding: 0 @default-gutter/4 0 @default-gutter/2;
			font-family: @font-family-base-medium;
		}

		&:hover {
			#gradient > .vertical(lighten(#F6F6F6, 3%), darken(#E0E0E0, 3%));
		}

		&:active {
			#gradient > .vertical(#E0E0E0, #F6F6F6);
			box-shadow: inset 0 -2px 10px rgba(0,0,0,0.1),
						inset 0 4px 3px -3px rgba(0,0,0,0.025);
		}
	}

	.red-action-mixin() {
		.action-mixin();

		#gradient > .vertical(#CF2028, #C90D15);
		box-shadow: inset 0 0 30px rgba(255,255,255,0.25),
						  0 1px 3px rgba(0,0,0,0.25);

		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

		&:hover {
			#gradient > .vertical(lighten(#CF2028, 2%), darken(#C90D15, 1%));
		}

		&:active {
			#gradient > .vertical(darken(#C90D15, 1%), lighten(#CF2028, 2%));
		}
	}

	.action-btn {
		.action-mixin();
	}

	.light-mixin() {
		padding: @content-gutter/2;

		border: none;
		border-radius: @default-radius;

		background: #F0F0F0;
		box-shadow: inset 0 0 60px #FFFFFF, 0 1px 2px rgba(0,0,0,0.1);
		
		i, p { text-shadow: 0 1px 0 #FFFFFF; }

		i {
			color: @base-headline-color;
			font-size: @font-size-medium + 4;

			display: block;
			margin: 0 auto @content-gutter/2 auto;
			height: 42px; max-height: 42px;
			width: 42px; max-width: 42px;
		}

		p {
			padding: 0 @content-gutter/2;
			color: @base-text-color;
			font-family: @font-family-base-medium;
			line-height: @font-size-base;

			span {
				color: @heart-red;
				font-size: @font-size-base + 1;
				padding-right: 2px;
			}
		}

		&:hover {
			background: #F2F2F2;
			box-shadow: inset 0 0 50px #FFFFFF, 0 1px 4px rgba(0,0,0,0.1);

			i, p, h4, span { color: @heart-red; }
		}

		&:active {
			background: #EBEBEB;
			box-shadow: inset 0 0 50px #FAFAFA, inset 0 1px 4px rgba(0,0,0,0.075);
		}
	}

	.light-btn {
		.light-mixin();
	}