// -------------------------------------
//   Colors
// -------------------------------------

// ----- Client/Project Colors ----- //

	@heart-red: #c71d23;


// ----- Base Colors ----- //
	
	@base-bg-color: #f5f5f5;
	@base-text-color: #474747;
	@base-headline-color: #585858;

	@card-bg-color: #ffffff;


// ----- Layout Colors -----//

	@sidebar-bg-color: #CA1C22;


// ----- Font Colors -----//

	@white: #fafafa;


// ----- Button Colors -----//

	@action-button-bg: #f6f6f6;