// -------------------------------------
//   Forms
// -------------------------------------

	input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		padding: @default-gutter/2;
		margin-bottom: 1em;

		#gradient > .vertical(rgba(0,0,0,0.025), rgba(0,0,0,0.015));
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);

		border: 1px solid rgba(0,0,0,0.1);
		border-radius: @default-radius;

		font-size: @font-size-medium;
		line-height: @font-size-medium + 2;
	}

	