// -------------------------------------
//   General
// -------------------------------------

// ----- General/Global Styles ----- //

html {
	height: 100%;
}

body {
	background-color: @base-bg-color;
	color: @base-text-color;

	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: @font-size-base;
	line-height: @line-height-base;
	font-family: @font-family-base;

	width: 100%;
	height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
	cursor: pointer;
	color: @heart-red;
	outline: none;
	text-decoration: none;
}

// ----- Video Aspect Ratio Wrappers ----- //

.video-wrapper-169 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
	max-width: 100%;

	iframe,
	.video-card-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}