// -------------------------------------
//   Settings
// -------------------------------------

// ----- Breakpoints ----- //

	// Phone Small
	@phone-s-min: 320px;
	@phone-s-max: 374px;

	// Phone Medium
	@phone-m-min: 375px;
	@phone-m-max: 413px;

	// Phone Large
	@phone-lg-min: 414px;
	@phone-lg-max: 767px;

	// Tablet
	@tablet-min: @phone-lg-max + 1;
	@tablet-mid: 884px;
	@tablet-max: 1023px;

	// Desktop
	@desktop-min: @tablet-max + 25;
	@desktop-mid: 1188px;
	@desktop-max: 1680px;

	// GLOBALS
	@GLOBAL-MIN: @tablet-min;
	@GLOBAL-MAX: @desktop-max;


// ----- Layout Settings ----- //

	@default-gutter: 20px;
	@content-gutter: 18px;
	
	@default-radius: 4px;

	@sidebar-landscape-width: 270px;
	@sidebar-portrait-width: 240px;


// ----- Grid Settings ----- //

	// Specify the number of available columns
	@grid-columns:          12;

	// Inner padding on each side of a column to create gutters
	@grid-column-padding:   10px;

	// Point at which the floats kick in and horizontally align columns
	@grid-float-breakpoint: @tablet-max;


// ----- Modal Settings ----- //

	@default-modal-gutter: 20px;

	@large-modal-height: 600px;
	@large-modal-content-height: @large-modal-height - (@default-modal-gutter*2);

	@medium-modal-height: 420px;
	@medium-modal-content-height: @medium-modal-height - (@default-modal-gutter*2);

	@small-modal-height: 150px;
	@small-modal-content-height: @small-modal-height - (@default-modal-gutter*2);