// -------------------------------------
//   Typography
// -------------------------------------

// ----- Base Typography ----- //

@font-family-base:               "effra-regular", Arial, Helvetica, Sans-Serif;
@font-family-base-italic:        "effra-italic", Arial, Helvetica, Sans-Serif;

@font-family-base-light:         "effra-light", Arial, Helvetica, Sans-Serif;
@font-family-base-light-italic:  "effra-light-italic", Arial, Helvetica, Sans-Serif;

@font-family-base-medium:        "effra-medium", Arial, Helvetica, Sans-Serif;
@font-family-base-medium-italic: "effra-medium-italic", Arial, Helvetica, Sans-Serif;

@font-family-base-bold:          "effra-bold", Arial, Helvetica, Sans-Serif;
@font-family-base-bold-italic:   "effra-bold-italic", Arial, Helvetica, Sans-Serif;

@font-size-base: 			16px;
@line-height-base:        	22px;

@font-size-xlarge:		  	@font-size-base * 2.25;
@font-size-large:         	@font-size-base * 1.75;
@font-size-medium:		  	@font-size-base * 1.125;

@font-size-small:         	@font-size-base * 0.875;
@font-size-mini:          	@font-size-base * 0.75;
@font-size-micro:			@font-size-base * 0.6;


// ----- Heading Styles ----- //

h1, h2, h3, h4, h5 {
	color: @base-headline-color;
	margin-top: 0;

	font-weight: normal;
	font-family: @font-family-base-medium;
}

h1 {
	font-size: @font-size-xlarge;
	line-height: @font-size-xlarge;
}

h2 {
	font-size: @font-size-large;
	line-height: @font-size-large;
}

h3 {
	font-size: @font-size-medium;
	line-height: @font-size-medium + 2;
}

p {
	margin-top: 0;
	font-size: @font-size-base;

	span.italic {
		font-family: @font-family-base-italic;
	}
}

h4 {
	font-size: @font-size-small;
	line-height: @font-size-small;
}

h5 {
	font-size: @font-size-mini;
	line-height: @font-size-mini;
}