// -------------------------------------
//   Dashboard Layout
// -------------------------------------

	.dashboard {
		.dashboard-grid-wrap {
			.make-row();

			.dashboard-grid-left {
				.make-column(8);
			}

			.dashboard-grid-right {
				.make-column(4);
			}
		}

		.dashboard-header {
			h2 { margin: -0.1em 0 0.25em 0; }

			.dashboard-header-grid {
				width: 100%;
				display: table;
				border-collapse: separate;
    			border-spacing: @default-gutter 0;

				margin: 0 0 @content-gutter 0;
				
				.grid-item {
					width: 25%;
					height: 100%;
					display: table-cell;
					vertical-align: top;
				}
				
				.new-learning,
				.new-literature,
				.new-videos {
					.grid-item-content {
						.light-mixin();
						
						display: block;
						text-align: center;
						padding: @content-gutter/2 0 0 0;

						.detail-count {
							margin-top: @content-gutter/2;
							padding: @content-gutter/3;

							#gradient > .vertical(rgba(0,0,0,0.0333), rgba(0,0,0,0));
							box-shadow: inset 0 2px 1px -1px rgba(0,0,0,0.025);

							.border-bottom-radius(@default-radius);

							h4:first-of-type { margin-bottom: 0.25em; }
						}
					}
				}

				.user-card {
					.grid-item-content {
						display: inline-block;
						width: 100%; height: 100%;

						border: none;
						border-radius: @default-radius;
						box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),
									inset 0 0 50px rgba(0,0,0,0.025);

						h4 {
							padding: 8px 12px 4px 12px;
							text-transform: uppercase;
							font-size: @font-size-micro;
							font-family: @font-family-base-medium;
						}

						.user-name {
							min-height: 76px;

							padding: 0 12px;
							font-family: @font-family-base-medium;
							line-height: @font-size-base;
						}

						.logout-btn {
							display: block;
							text-align: center;
							width: 100%;
							margin: 0;
							padding: 12px 10px 6px 10px;

							.border-top-radius(0);
							.border-bottom-radius(@default-radius + 1);

							box-shadow: inset 0 0 30px #FFFFFF,
										inset 0 1px 1px rgba(0,0,0,0.1);

							.btn-content {
								display: inline-block;

								i,p { display: inline-block; }
								i { font-size: @font-size-mini; padding-left: 8px; .flipHorizontally(); }
								p { text-align: left; padding: 0; margin: -3px 0 0 -4px; }
							}

							&:active {
								box-shadow: inset 0 -2px 10px rgba(0,0,0,0.1),
											inset 0 1px 1px rgba(0,0,0,0.05);
							}
						}
					}
				}
			}

			.clearfix();
		}

		.dashboard-video,
		.dashboard-event {
			.preview-card {
				.preview-image {
					@media (max-width: @desktop-max) { width: 325px; }
					@media (max-width: @desktop-mid) { width: 285px; }
					@media (max-width: @desktop-min) { width: 265px; }
					@media (max-width: @phone-lg-max) { 
						width: 384px; 
						margin-left: -@default-gutter+2;

						img { width: 100%; }
					}
					@media (max-width: @phone-m-max){
						width: 335px;
					}
					@media (max-width: @phone-s-max){
						width: 280px;
					} 
				}
			}
		}

		.dashboard-expert-exchange,
		.dashboard-expert-exchange-live {
			.event-container {
				.headshot-block {
					margin: 0;
				}
				
				.event-container-content {
					padding: 0;
					padding-left: @content-gutter;

					.presented-block { width: 40% !important; }
					.time-block {
						width: 60% !important;
						
						.registered,
						.registered-hidden {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.dashboard-featured {
			ul li {
				display: block;
				margin-bottom: @default-gutter;

				&:last-of-type {
					margin-bottom: 0;
				}

				a {
					margin-bottom: @default-gutter;
					color: @base-text-color;
					
					.clearfix();

					i {
						color: @base-headline-color;
						position: relative;
						float: left;
						text-align: left;

						width: 30px;
						height: 30px;
					}

					p {
						overflow: hidden;
						padding-left: @content-gutter/2;

						font-size: @font-size-small;
						line-height: @font-size-small + 2;
					}

					&:hover,
					&:active {
						i, p { color: @heart-red; }
					}
				}
			}
		}

		// ------ iPad Portrait ------ //
		@media (max-width: @tablet-max) {
			.dashboard-grid-wrap {
				.dashboard-grid-left, 
				.dashboard-grid-right {
					display: block;
					width: 100%;
				}

				.dashboard-grid-right .card { margin-bottom: 0; }	
			}

			.dashboard-header {
				.dashboard-header-grid {
					display: block;
					padding: 0 @default-gutter;

					.grid-item {
						width: 50%;
						float: left;
						display: block;
						margin: 0 0 @default-gutter 0;

						&:nth-child(even) { padding-left: @default-gutter/2; }
						&:nth-child(odd) { padding-right: @default-gutter/2; }
					}

					.user-card {
						.grid-item-content {
							.user-name {
								min-height: 60px;
							}
						}
					}
				}
			}
		}
		// ------ ------------- ------ //

		// ------ Phone Large Portrait ------ //
		@media (max-width: @phone-lg-max) {
			
			.heart-logo {
				display:none;
			}

		}



	}