// -------------------------------------
//   Default Layout
// -------------------------------------
	
	.wrapper {
		width: 100%;
		height: 100%;
		min-width: @GLOBAL-MIN;

		@media(max-width: @phone-lg-max) {
			min-width: 414px;
			overflow-x: hidden;
		}
		@media(max-width: @phone-m-max) {
			min-width: 375px;
			overflow-x: hidden;
		}
		@media(max-width: @phone-s-max) {
			min-width: 320px;
			overflow-x: hidden;
		}


	}

	.fixed-container {
		margin: 0 auto;
		min-width: @GLOBAL-MIN;
		max-width: @GLOBAL-MAX;
		overflow-x: hidden;
	}

	.fluid-container {
		margin: 0;
		min-width: @GLOBAL-MIN;
		width: 100%;
		height: 100%;
	}

	.page {
		margin: 0;
		height: 100%;
	}

	.wrapper, .container, .page { .clearfix(); }

	// ----- Mobile Placeholder ----- //

	.mobile-overlay {
		display: none;

		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 1050;
		overflow: hidden;

		background: @base-bg-color;
		padding: @default-gutter;

		.card {
			height: 100%;

			.card-content {
				img {
					display: block;
					margin: @default-gutter auto;
				}

				p {
					margin: @default-gutter*4 @default-gutter;
					text-align: center;
					font-size: 20px;
					line-height: 24px;
				}
			}
		}
	}

	@media (max-width: @phone-lg-max) {

		.card {
			max-width: 374px;
		}

			
		.menu-hamburger {
			display: block;
		}

		.heart-logo {
			float: right;
		}

		.register {
			.heart-logo { display: none; }
		}

		.login {
			.heart-welcome {
				float: right;
				clear: both;
			}

			.menu-hamburger { display: inline-block; }
			.video-wrapper-169 { clear: both; }
		}


	}


	@media (max-width: @phone-m-max) {

		.card {
			max-width: 335px;
		}

	}

	@media (max-width: @phone-s-max) {


		.card {
			max-width: 280px;
		}

	}

