// -------------------------------------
//   Heart Forum Layout
// -------------------------------------

	.forum {
		.clock-container {
			display: block;
			position: relative;
			float: left;
			width: 480px;
			height: 240px;

			#gradient > .radial(#858585, #373737);

			.clock {
				position: absolute;
				top: 52px;
				left: -116px;
				width: 800px;

				.scale(0.666);

				.flip-clock-divider {
					.flip-clock-label {
						color: #fff;
						// font-size: 150%;
					}
				}
			}

			.starts-in,
			.coming-soon {
				width: 100%;
				text-align: center;
				color: #fff;
			}

			.starts-in { margin-top: 26px; }
			.coming-soon { margin-top: 130px; }
		}

		.event-container {
			.event-container-content {
				padding-top: 0;
				padding-bottom: 0;

				.presented-block,
				.time-block {
					display: block;
					width: 100%;
					text-align: left;
				}

				.time-block {
					margin-top: 24px;
				}
			}
		}
	}