// -------------------------------------
//   Learning Resources Layout
// -------------------------------------

	.learning {

		.learning-header {
			h4 { margin-bottom: 1.5em; }

			.preview-content {
				.preview-summary { margin-bottom: 1em; }
			}
		}

		// Learning Library Tabs Here

		.learning-library-list {
			padding: @content-gutter;
			padding-top: 0;

			ul li {
				margin: @default-gutter 0;
				
				&:last-of-type { margin-bottom: 0; }
			}

			.light-btn {
				display: block;
				width: 100%;

				.light-btn-content {
					display: table;
				
					i, p { display: table-cell; vertical-align: middle; }

					i { width: 30px; height: 30px; float: left; margin: 5px 0 0 5px; }
					
					p { padding: 0; margin: 0; overflow: hidden; }

					.clearfix();
				}
			}
		}
	}

	// ------ Phone Large ------ //
	@media (max-width: @phone-lg-max) {

		.literature {

			.card-content {
				position: relative;

				.single-content {
					margin-bottom: @default-gutter*2;
				}
				
				.single-action{
					float:none !important;
					margin-left: 0 !important;

					position: absolute;
					bottom: 0;
					left: 0;

					.action-btn {
						width: 374px;
						margin: 0px;
					}
				}
			}
		}
	}

	// ------ Phone Smnall ------ //
	@media (max-width: @phone-m-max) {

		.literature {

			.card-content {
				
				.single-action{

					.action-btn {
						width: 335px;
						margin: 0px;
					}
				}
			}
		}
	}

	// ------ Phone Smnall ------ //
	@media (max-width: @phone-s-max) {

		.literature {

			.card-content {
				
				.single-action{

					.action-btn {
						width: 280px;
						margin: 0px;
					}
				}
			}
		}
	}

