// -------------------------------------
//   Login Layout (Login, Forgot Password, Create Account, etc.)
// -------------------------------------

.login,
.password,
.register,
.reset {
	.login-card,
	.forgot-card,
	.register-card,
	.reset-card {
		max-width: 554px;
		margin-left: auto;
		margin-right: auto;

		.login-message { margin: @default-gutter*1.5 0 @default-gutter 0; }
		.forgot-message, .alert { margin: @default-gutter*1.5 0 @default-gutter/2 0; }
		.register-message { margin-bottom: @default-gutter/2; }

		.confirm-yes-btn,
		.confirm-no-btn {
			margin-top: @default-gutter;
			display: block;
			width: 100%;

			.btn {
				.action-mixin();
				display: block;
				width: 100%;
				padding: @default-gutter/2 @content-gutter;

				font-size: @font-size-medium;
				color: @heart-red;
				text-shadow: 0 1px 0 rgba(255,255,255,0.9);
			}

			@media (max-width: @phone-lg-max){

				.btn {

					font-size: @font-size-small;
				}

			}

			.red {
				.red-action-mixin();
			}
		}

		#apology-message {
			display: block;
			padding: @content-gutter*2 0;
			text-align: center;
		}

		.login-form {
			margin: 0 0 @default-gutter*1.5 0;

			input[type="text"],
			input[type="email"],
			input[type="password"],
			input[type="number"],
			textarea {
				width: 100%;
				margin: 1em 0 0 0;
			}

			.help-block {
				display: block;
				margin-top: 0.25em;

				color: @heart-red;
				font-size: @font-size-small;
				font-family: @font-family-base-medium-italic;
			}

			.remember-me {
				float: right;
				margin-top: @default-gutter;
				padding-top: 10px;
				
				label { color: rgba(0,0,0,0.65); margin-right: 0.5em; }
			}

			.attestation {
				margin: @default-gutter 0;
				font-family: @font-family-base-medium-italic;
			}

			.submit-btn {
				margin-top: @default-gutter;

				.btn {
					.action-mixin();
					padding: @content-gutter/2 @default-gutter;

					font-size: @font-size-medium;
					color: @heart-red;
					text-shadow: 0 1px 0 rgba(255,255,255,0.9);
				}
			}
		}

		.login-field-wrapper { width: 320px; }

		.forgot-password,
		.bottom-join {
			margin: @default-gutter 0 0 0;
			max-width: 130px;
		}

		.forgot-password {
			float: left;
		}

		.bottom-join {
			float: right;
			text-align: right;
		}
	}

	.forgot-card, .register-card {
		.login-form { margin-bottom: 0; }
	}
}

// -------------------------------------
//   Login Welcome Video
// -------------------------------------

.login {
	.login-card {
		max-width: 856px;
		display: table;
		width: 100%;

		.card-video {
			display: table-cell;
			padding: @content-gutter;

			background: #fcfcfc;
			box-shadow: 1px 0 0 #efefef;
			.border-left-radius(@default-radius);

			h2 {
				margin-bottom: @default-gutter;

				font-size: @font-size-large + 2;
				font-family: @font-family-base-light;

				span { font-family: @font-family-base; }
			}

			h3 {
				margin-top: @default-gutter;

				color: @heart-red;
				font-size: @font-size-base - 2;
			}
		}

		.card-video + .card-content {
			display: table-cell;
			width: 356px;
		}

		.clearfix();
	}

	// ------ Video Breakpoint ------ //
	@media (max-width: @tablet-max) {
		.login-card {
			margin-top: 0;

			display: block;
			max-width: 554px;

			.card-video {
				display: block;
				width: 100%;

				box-shadow: 0 1px 0 #efefef;
				.border-top-radius(@default-radius);
			}

			.card-video + .card-content {
				display: block;
				width: 100%;

				.forgot-password,
				.bottom-join {
					max-width: none;
				}
			}
		}
	}
	// ------ ------------- ------ //

}

	@media (max-width: @phone-lg-max) {
		.centered-card, .login-card, .register-card {
			max-width: 374px !important;
			margin: 0 !important;	
		}

		// .login-field-wrapper { width: 354px !important; }
	}

	@media (max-width: @phone-m-max) {
		.centered-card, .login-card, .register-card {
			max-width: 335px !important;
			margin: 0 !important;	
		}

		.login-field-wrapper { width: 295px !important; }
	}

	@media (max-width: @phone-s-max) {
		.centered-card, .login-card, .register-card {
			max-width: 280px !important;
			margin: 0 !important;	
		}

		.login-field-wrapper { width: 245px !important; }
	}