// -------------------------------------
//   Sidebar Layout
// -------------------------------------

	.sidebar-content {
		position: relative;
		height: 100%;

		.sidebar-logo {
			text-align: center;
			
			img { margin: 16px 0 20px 0; }
		}

		.sidebar-menubtn {
			display: block;
			width: 100%;
			height: 70px;

			#gradient > .vertical(#CF2028, #C90D15);
			box-shadow: inset 0 1px rgba(255,255,255,0.1);
			border-bottom: 1px solid rgba(0,0,0,0.05);

			&:first-of-type {
				box-shadow: inset 0 1px rgba(255,255,255,0.1),
								  0 -2px 1px -1px rgba(0,0,0,0.05);
			}

			&:last-of-type {
				box-shadow: inset 0 1px rgba(255,255,255,0.1),
								  0 2px 1px -1px rgba(255,255,255,0.1);
			}

			.sidebar-menubtn-content {
				display: table;
				width: 100%;
				height: 70px;
			}

			.sidebar-menubtn-icon,
			.sidebar-menubtn-label {
				display: table-cell;
				vertical-align: middle;

				color: @white;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
			}

			.sidebar-menubtn-icon {
				width: 70px;
				text-align: center;

				i { margin-left: 10px; width: 30px; height: 30px; }
			}

			.sidebar-menubtn-label {
				text-decoration: none;
				font-family: @font-family-base-medium;
				font-size: @font-size-base + 1;
			}

			&:hover {
				#gradient > .vertical(lighten(#CF2028, 2%), darken(#C90D15, 1%));
			}
		}

		.sidebar-menubtn.active {
			#gradient > .vertical(#B8090C, #BE090C);
			box-shadow: inset 0 1px rgba(0,0,0,0.05);

			.sidebar-menubtn-content {
				background: transparent url("img/sidebar-btn_active.png") no-repeat top left;
				background-size: 270px 70px;
			}
		}

		.sidebar-footer {
			width: 100%;
			position: absolute;
			bottom: 0;

			.sidebar-footer-logo {
				text-align: center;
				margin-bottom: 0.25em;
			}

			.sidebar-footer-text {
				text-align: center;

				.sidebar-footer-middle {
					margin-bottom: 0.5em;
					p { display: inline; margin: 0 1em 1em 1em; }
				}

				p {
					margin: 0 0 1em 0;
					color: fadeout(@white, 15%);
					text-transform: uppercase;
					font-size: @font-size-micro;

					a { color: fadeout(@white, 15%); }
				}
			}
		}

		.icon-menu-close { display: none; }

		// ------ iPad Portrait ------ //
		@media (max-width: @tablet-max) {
			.sidebar-footer .sidebar-footer-text .sidebar-footer-middle {
				p:last-of-type { display: block; }
				p { display: inline; margin: 0 0.5em 0.5em 0.5em; }
			}
		}
		// ------ ------------- ------ //

		@media (max-width: @phone-lg-max) { 
			.icon-menu-close { display: block; }
		}
	}