
.search-card {

    .search-form {
        width: 100%;
        margin: 0;

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
        textarea {
            width: 68%;
            margin: 0;
        }

        .submit-btn {

            float: right;
            margin-left: 2%;
            width: 30%;

            .btn {
                .action-mixin();
                width:100%;
                padding: @content-gutter/2 @default-gutter;

                font-size: @font-size-medium;
                color: @heart-red;
                text-shadow: 0 1px 0 rgba(255,255,255,0.9);
                font-weight: bold;
            }
        }
    }

}


.query-sort{

    display: block;

    .sort-container {

        margin: 0;
        padding: 0;

        width: 100%;
    }

}

.display-query {

    padding: @default-gutter;
    padding-bottom: 0;

    p { text-align: center; } 
}




.sort-container {
    margin: 20px;
    width:280px;
    padding:15px;
    overflow:hidden;
    backface-visibility:hidden;
    
    > span {
        font-size:20px;
        line-height:32px;
        font-weight:bold;
        color:#cbcbcb;
        padding:0 5px;
        -moz-transition:color 0.3s ease;
        -o-transition:color 0.3s ease;
        -webkit-transition:color 0.3s ease;
        transition:color 0.3s ease;
    }

    .sort-close {
        float:right;
    }

    ul {
        display:none;
        list-style-type:none;
        padding:0;
        padding:10px 5px 0;
        margin:0;
        font-weight:200;
        width:100%;
        margin-top:10px;
        margin-top:15px;
        -moz-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        -webkit-transition:all 0.3s ease;
        transition:all 0.3s ease;
        
        a {
            text-decoration:none;
            font-size:20px;
            color:#cbcbcb;
            font-weight:bold;
            -moz-transition:color 0.3s ease;
            -o-transition:color 0.3s ease;
            -webkit-transition:color 0.3s ease;
            transition:color 0.3s ease;
        }

        a:hover {
            color:#636363;
        }

        a.active {
            color:#636363;
        }

        li {
            padding:8px 0;
        }
    }
}

.sort-container .hover {
    border-color:#b2b2b2;
    -moz-box-shadow:0 0 14px 0 #efefef;
    -webkit-box-shadow:0 0 14px 0 #efefef;
    box-shadow:0 0 14px 0 #efefef;
    
    > span {
        color:#b2b2b2;
    }

}

.sort-container .open ul {
    height:100px;
    opacity:1;
}

.sort-close {
    fill:#cbcbcb;
    position:relative;
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    cursor:pointer;
    path {
        -moz-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        -webkit-transition:all 0.3s ease;
        transition:all 0.3s ease;
    }
}

.sort-close:hover path {
    fill:#404040;
}

.sort-close.active {
    -moz-transform:rotate(-135deg);
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
    path {
        fill:#404040;
    }
}