// -------------------------------------
//   User Layout (primary sidebar-left content-right view)
// -------------------------------------

	.user {
		position: relative;
		clear: both;
		float: left;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		background-color: @sidebar-bg-color;

		.main-wrapper {
			float: left;
			width: 200%;
			height: 100%;
			position: relative;

			left: @sidebar-landscape-width;
			@media (max-width: @tablet-max) {
				left: @sidebar-portrait-width;
			}
			@media (max-width: @phone-lg-max) {
				left: 0px;
			}

			background-color: @base-bg-color;
			box-shadow: inset 2px 0 2px -2px rgba(0,0,0,0.2);
		}

		.sidebar {
			float: left;
			height: 100%;
			position: relative;

			width: @sidebar-landscape-width;
			right: @sidebar-landscape-width;
			@media (max-width: @tablet-max) {
				width: @sidebar-portrait-width;
				right: @sidebar-portrait-width;
			}

			background: transparent url("img/sidebar_detailbg.png") no-repeat bottom left;
			background-size: 270px 270px;
		}

		.main {
			float: right;
			width: 50%;
			height: 100%;
			position: relative;

			right: @sidebar-landscape-width;
			@media (max-width: @tablet-max) {
				right: @sidebar-portrait-width;
			}

			.main-content {
				margin: 0 0 0 @sidebar-landscape-width;
				@media (max-width: @tablet-max) {
					margin: 0 0 0 @sidebar-portrait-width;
				}

				position: relative;
				right: 100%;
				height: 100%;
				overflow: hidden;

				.main-scroll {
					width: 100%;
					height: 100%;

					overflow-y: scroll;
					-webkit-overflow-scrolling: touch;
					
					padding: @default-gutter;
				}
			}
		}
	}