// -------------------------------------
//   Videos Layout
// -------------------------------------

	.videos {
		.video-masonry {
			.content-columns(auto, 4, @content-gutter);

			.video-card {
				display: inline-block;
				width: 100%;

				-webkit-column-break-inside: avoid;
				   -moz-column-break-inside: avoid;
						column-break-inside: avoid;

				.video-thumbnail-wrapper {
					position: relative;
					cursor: pointer;
					max-width: 100%;
					height: auto;

					margin-bottom: @default-gutter/1.5;
					border-radius: @default-radius;

					.video-thumbnail {
						position: relative;
						border-radius: @default-radius;

						img {
							width: 100%;
							height: auto;
							border-radius: @default-radius;
						}

						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 0; right: 0;
							bottom: 0; left: 0;
							width: 100%; height: 100%;

							box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
							border-radius: @default-radius;
						}
					}

					&:hover {
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 45%; right: 0;
							@media (max-width: @phone-lg-max) { top: 70%; }
							@media (max-width: @phone-m-max) { top: 60%; }
							@media (max-width: @phone-s-max) { top: 50%; }
							bottom: 0; left: 0;
							width: 100%; height: 45%;

							color: rgba(255,255,255,0.85);
							font-family: 'Material Icons';
							font-size: 80px;
							text-align: center;
							text-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
						}
					}
				}
			}
		}
	}

	.mobile-module-menu-btn { display: none; }

	// ------ Standard Desktop ------ //
	@media (max-width: @desktop-max) {
		.videos .video-masonry {
			.content-columns(auto, 3, @content-gutter);
		}
	}

	// ------ iPad Landscape ------ //
	@media (max-width: @desktop-mid) {
		.videos .video-masonry {
			.content-columns(auto, 2, @content-gutter);
		}
	}

	// ------ iPad Portrait ------ //
	@media (max-width: @tablet-max) {
		.videos .video-masonry {
			.content-columns(auto, 1, @content-gutter);

			.video-card {
				.video-card-content {
					overflow: hidden;

					.video-launch-btn { float: right; }
				}

				.video-thumbnail-wrapper {
					width: 320px; height: 180px;
					padding: 0;

					float: left;
					margin: 0 @default-gutter 0 0;

					.video-card-image {
						width: 320px; height: 180px;
					}
				}
			}
		}
	}

	// ------ Small Tablet ------ //
	@media (max-width: @tablet-mid) {
		.videos .video-masonry {
			.video-card {
				.video-thumbnail-wrapper {
					width: 240px; height: 135px;

					.video-card-image {
						width: 240px; height: 135px;
					}
				}
			}
		}
	}

	// ------ Phone ------ //
	@media (max-width: @phone-lg-max) {
		.videos .video-masonry {
			.video-card {
				max-width: 374px;

				.video-thumbnail-wrapper {
					float: none;
					clear: both;
					display: block;
					margin: 0 auto @default-gutter auto;
				}
			}
		}

		.video-thumbnail {
			// margin-top: -@default-gutter+2;
			margin-left: -67px;
			width: 374px;
		}

		.video-card .card-content {
			padding: 0 !important;

			.video-card-content {
				padding: @default-gutter;
				padding-top: @default-gutter*3.5;
				padding-bottom: @default-gutter*2.5;
				position: relative;

				.action-btn{
					float:none !important;
					margin-left: 0 !important;

					position: absolute;
					bottom: 0;
					left: 0;

					width: 374px;
					margin: 0px;
						
				}
			}
		}
	}

	// ------ Phone ------ //
	@media (max-width: @phone-m-max) {
		.videos .video-masonry {
			.video-card {
				max-width: 335px;

				.video-thumbnail-wrapper {
					float: none;
					clear: both;
					display: block;
					margin: 0 auto @default-gutter auto;
				}
			}
		}

		.video-thumbnail {
			// margin-top: -@default-gutter+2;
			margin-left: -48px;
			width: 335px;
		}

		.video-card .card-content {
			padding: 0 !important;

			.video-card-content {
				padding: @default-gutter;
				padding-top: @default-gutter*2.5;
				padding-bottom: @default-gutter*2.5;
				position: relative;

				.action-btn{
					float:none !important;
					margin-left: 0 !important;

					position: absolute;
					bottom: 0;
					left: 0;

					width: 335px;
					margin: 0px;
						
				}
			}
		}
	}

	// ------ Phone ------ //
	@media (max-width: @phone-s-max) {
		.videos .video-masonry {
			.video-card {
				max-width: 280px;

				.video-thumbnail-wrapper {
					float: none;
					clear: both;
					display: block;
					margin: 0 auto @default-gutter auto;
				}
			}
		}

		.video-thumbnail {
			// margin-top: -@default-gutter+2;
			margin-left: -20px;
			width: 280px;
		}

		.video-card .card-content {
			padding: 0 !important;

			.video-card-content {
				padding: @default-gutter;
				padding-top: @default-gutter*1.5;
				padding-bottom: @default-gutter*2.5;
				position: relative;

				.action-btn{
					float:none !important;
					margin-left: 0 !important;

					position: absolute;
					bottom: 0;
					left: 0;

					width: 280px;
					margin: 0px;
						
				}
			}
		}
	}

	// ------ IE <10 Fallback ------ //
	.no-csscolumns .videos {
		.video-masonry {
			.content-columns(auto, auto, @content-gutter);

			.video-card {
				.video-card-content {
					.video-launch-btn { float: right; }
				}

				.video-thumbnail-wrapper {
					width: 320px; height: 180px;
					padding: 0;

					float: left;
					margin: 0 @default-gutter 0 0;

					.video-card-image {
						width: 320px; height: 180px;
					}
				}
			}
		}
	}