// -------------------------------------
//   Fontello Icons
// -------------------------------------
	
	@font-face {
		font-family: 'fontello';
		src: url('fonts/fontello.eot?35265674');
		src: url('fonts/fontello.eot?35265674#iefix') format('embedded-opentype'),
			 url('fonts/fontello.woff2?35265674') format('woff2'),
			 url('fonts/fontello.woff?35265674') format('woff'),
			 url('fonts/fontello.ttf?35265674') format('truetype'),
			 url('fonts/fontello.svg?35265674#fontello') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	[class^="icon-"]:before, [class*=" icon-"]:before {
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;

		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		/* opacity: .8; */

		/* For safety - reset parent styles, that can break glyph codes*/
		font-variant: normal;
		text-transform: none;

		/* fix buttons height, for twitter bootstrap */
		line-height: 1em;

		/* Animation center compensation - margins should be symmetric */
		/* remove if not needed */
		margin-left: .2em;

		/* you can be more comfortable with increased icons size */
		font-size: 100%;

		/* Font smoothing. That was taken from TWBS */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-videos:before 	{ content: '\e800'; font-size: 180%; margin-left:  0px; margin-top:  4px; } /* '' */
	.icon-learning:before 	{ content: '\e801'; font-size: 195%; margin-left:  0px; } /* '' */
	.icon-literature:before { content: '\e802'; font-size: 210%; margin-left: -1px; margin-top:  0px; } /* '' */
	.icon-heart:before 		{ content: '\e803'; font-size: 220%; margin-left: -3px; margin-top: -2px; } /* '' */
	.icon-exchange:before 	{ content: '\e804'; font-size: 200%; margin-left: -1px; margin-top: -1px; } /* '' */
	.icon-play:before 		{ content: '\e805'; font-size: 175%; margin-left:  2px; } /* '' */
	.icon-login:before 		{ content: '\e806'; font-size: 210%; margin-left: -2px; margin-top: -1px; } /* '' */
	.icon-expand:before 	{ content: '\e808'; font-size: 130%; margin-left:  5px; margin-top:  2px; } /* '' */