// -------------------------------------
//   Font Stack
// -------------------------------------

	// Light
	@font-face {
		font-family: 'effra-light';
		src: url('fonts/Effra_W_Lt.eot');
		src: url('fonts/Effra_W_Lt.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_Lt.woff') format('woff'),
			 url('fonts/Effra_W_Lt.ttf') format('truetype'),
			 url('fonts/Effra_W_Lt.svg#effra-light') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'effra-light-italic';
		src: url('fonts/Effra_W_LtIt.eot');
		src: url('fonts/Effra_W_LtIt.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_LtIt.woff') format('woff'),
			 url('fonts/Effra_W_LtIt.ttf') format('truetype'),
			 url('fonts/Effra_W_LtIt.svg#effra-light-italic') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	// Regular
	@font-face {
		font-family: 'effra-regular';
		src: url('fonts/Effra_W_Rg.eot');
		src: url('fonts/Effra_W_Rg.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_Rg.woff') format('woff'),
			 url('fonts/Effra_W_Rg.ttf') format('truetype'),
			 url('fonts/Effra_W_Rg.svg#effra-regular') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'effra-italic';
		src: url('fonts/Effra_W_It.eot');
		src: url('fonts/Effra_W_It.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_It.woff') format('woff'),
			 url('fonts/Effra_W_It.ttf') format('truetype'),
			 url('fonts/Effra_W_It.svg#effra-italic') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	// Medium
	@font-face {
		font-family: 'effra-medium';
		src: url('fonts/Effra_W_Md.eot');
		src: url('fonts/Effra_W_Md.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_Md.woff') format('woff'),
			 url('fonts/Effra_W_Md.ttf') format('truetype'),
			 url('fonts/Effra_W_Md.svg#effra-medium') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'effra-medium-italic';
		src: url('fonts/Effra_W_MdIt.eot');
		src: url('fonts/Effra_W_MdIt.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_MdIt.woff') format('woff'),
			 url('fonts/Effra_W_MdIt.ttf') format('truetype'),
			 url('fonts/Effra_W_MdIt.svg#effra-medium-italic') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	// Bold
	@font-face {
		font-family: 'effra-bold';
		src: url('fonts/Effra_W_Bd.eot');
		src: url('fonts/Effra_W_Bd.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_Bd.woff') format('woff'),
			 url('fonts/Effra_W_Bd.ttf') format('truetype'),
			 url('fonts/Effra_W_Bd.svg#effra-bold') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'effra-bold-italic';
		src: url('fonts/Effra_W_BdIt.eot');
		src: url('fonts/Effra_W_BdIt.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Effra_W_BdIt.woff') format('woff'),
			 url('fonts/Effra_W_BdIt.ttf') format('truetype'),
			 url('fonts/Effra_W_BdIt.svg#effra-bold-italic') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'VideoJS';
		src: url('fonts/polyzor.eot');
		src: url('fonts/polyzor.eot?#iefix') format('embedded-opentype'),
			 url('fonts/polyzor.woff') format('woff'),
			 url('fonts/polyzor.ttf') format('truetype'),
			 url('fonts/polyzor.svg#effra-bold-italic') format('svg');
		font-weight: normal;
		font-style: normal;
	}