// -------------------------------------
//   Mixins
// -------------------------------------

	.insetFrame() {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;

		border-radius: @default-radius;
		
		box-shadow: inset 0 0 5px rgba(0,0,0,0.15), 
				 	inset 0 2px 0 -1px rgba(0,0,0,0.025);
	}

	.flipHorizontally() {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}