// -------------------------------------
//   Card Module
// -------------------------------------

	.card {
		display: block;
		margin: 0 0 @default-gutter 0;

		background: @card-bg-color;
		border: none;
		border-radius: @default-radius;
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);

		.card-content {
			padding: @content-gutter;

			.clearfix();
		}
	}

	.card-header {		
		h1 {
			float: right;
			margin: -4px 6px 0 0;
			font-size: @font-size-medium;
			font-family: @font-family-base-medium;
		}

		h2 {
			margin-bottom: 0.5em;
			color: @heart-red;
			font-family: @font-family-base;

			i { 
				width: 30px; height: 30px;
				font-size: @font-size-base;

				&:before { margin: 0; }
			}
		}

		h4 {
			margin-bottom: 0;
			color: @base-text-color;

			span { color: desaturate(darken(@heart-red, 8%), 8%); }
		}

		p { margin-bottom: 0; }
	}

	.preview-card {
		.preview-image {
			position: relative;
			width: 325px;
			float: left;
			overflow-x: hidden;

			border-radius: @default-radius;
			
			img { margin: 0; }
			&:before { .insetFrame(); }
		}

		.preview-content {
			padding-left: @content-gutter;
			overflow: hidden;

			.preview-title {
				color: @heart-red;

				font-size: @font-size-medium;
				line-height: @font-size-medium;
				margin-bottom: 0.5em;
			}

			.preview-subtitle {
				font-size: @font-size-small;
				line-height: @font-size-small;
				font-family: @font-family-base-medium;
			}

			.preview-summary {
				font-size: @font-size-small;
				line-height: @font-size-small + 2;

				margin-bottom: @content-gutter;
			}
		}
	}

	.centered-card {
		margin: @default-gutter*3 @default-gutter*4;
	}

	.single-item {
		.single-content {
			overflow: hidden;
			p { margin: 0; }
		}

		.single-action {
			margin-left: @content-gutter;
			float: right;
		}
	}

	.register-call {
		.card-content {
			padding: 4px 6px 2px 9px;
			.make-row();

			.register-left,
			.register-center,
			.register-right {
				.make-column(4);

				height: 65px;

				.register-table {
					display: table;
					width: 100%;
					height: 100%;
				}

				.register-content {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
					height: 100%;

					h3, p { margin: 0; }
					h3 {
						text-align: center;
						span { color: @heart-red; }
					}

					.register-call-btn {
						padding: 12px 10px 6px 10px;
						display: block;
						text-align: center;

						.register-call-btn-content {
							display: inline-block;

							p { font-size: 18px; }
						}
					}

					.register-call-existing {
						text-align: left;
						font-size: 15px;
					}
				}
			}
		}		
	}

	.icon-menu { display: none; }
	
	// ------ iPad Portrait ------ //
	@media (max-width: @tablet-max) {
		.preview-card {
			.preview-image {
				float: none;
			}

			.preview-content {
				display: block;
				width: 100%;
				padding: @content-gutter 0 0 0;
			}
		}

		.register-call {
			.card-content {
				.register-left,
				.register-center { display: inline-block; width: 50%; }

				.register-right {
					display: block;
					width: 100%;
				}
			}
		}
	}
	// ------ ------------- ------ //


	// ------ iPad Portrait ------ //
	@media (max-width: @phone-lg-max) {

		.icon-menu { display: block; }
		
		.preview-card {
			.preview-image {
				width: 340px;

				img {min-width: 340px;}
			}
		}

		.register-call {
			.card-content {
				.register-left,
				.register-center { 
					display: inline-block; 
					width: 100%;
					.register-table {
						.register-content {
							.register-call-existing { text-align: center !important;  }
						}
					}
				}

				.register-right {
					display: block;
					width: 100%;
				}
			}
		}

	}

	// ------ iPad Portrait ------ //
	@media (max-width: @phone-m-max) {
		.preview-card {
			.preview-image {
				width: 300px;
			}
		}

		.register-call {
			.card-content {
				.register-left,
				.register-center { 
					display: inline-block; 
					width: 100%;
					.register-table {
						.register-content {
							.register-call-existing { text-align: center !important;  }
						}
					}
				}

				.register-right {
					display: block;
					width: 100%;
				}
			}
		}

	}

	// ------ iPad Portrait ------ //
	@media (max-width: @phone-s-max) {
		.preview-card {
			.preview-image {
				width: 245px;
			}
		}

		.register-call {
			.card-content {
				.register-left,
				.register-center { 
					display: inline-block; 
					width: 100%;
					.register-table {
						.register-content {
							.register-call-existing { text-align: center !important;  }
						}
					}
				}

				.register-right {
					display: block;
					width: 100%;
				}
			}
		}

	}