// -------------------------------------
//   E-Module Style
// -------------------------------------

	.module-screen {
		p {
			font-size: @font-size-medium;
			line-height: @font-size-large + 2;
		}

		h1 {
			margin-bottom: 1.25em;
		}

		h2 {
			margin: 1em 0;
			
			&:first-of-type { margin-top: 0; }
		}

		ul {
			list-style-type: disc;
			padding-left: 1em;
			
			li { margin-bottom: 1em;}
		}

		ol {
			list-style-type: decimal;
			padding-left: 1.5em;
			
			li { margin-bottom: 1em;}
		}

		.footnotes {
			list-style-type: none;
			padding: 0;
		}

		.figure {
			display: block;
			margin: 24px 0;
			padding: @content-gutter;

			background: #FFFFFF;
			box-shadow: inset 0 0 50px #FFFFFF, 0 1px 2px rgba(0,0,0,0.075);

			border: none;
			border-radius: @default-radius;

			h4 {
				margin-bottom: 1em;
				font-size: @font-size-base;
				line-height: @line-height-base;
				text-align: center;
			}

			img {
				display: block;
				margin: 0.5em auto 1em auto;

				&:last-child { margin-bottom: 0; }
			}

			h5 { margin-bottom: 0.5em; }

			h5:last-of-type { margin-bottom: 0; }

			.module-choices{
				.module-choice, .module-submit{
					padding:5px 10px 5px 10px;
				}					
			}
	
		}

		.module-hidden{
			display: none;
		}

		.module-visible{
			display: block;
			margin: 24px 0;
			padding: @content-gutter;

			background: #FFFFFF;
			box-shadow: inset 0 0 50px #FFFFFF, 0 1px 2px rgba(0,0,0,0.075);

			border: none;
			border-radius: @default-radius;

			h4 {
				margin-bottom: 1em;
				font-size: @font-size-base;
				line-height: @line-height-base;
				text-align: center;
			}

			img {
				display: block;
				margin: 0.5em auto 1em auto;

				&:last-child { margin-bottom: 0; }
			}

			h5 { margin-bottom: 0.5em; }

			h5:last-of-type { margin-bottom: 0; }

			.module-choices{
				.module-choice, .module-submit{
					padding:5px 10px 5px 10px;
				}					
			}
		}

		.inline-figure-left,
		.inline-figure-right {
			h4 { text-align: center; }
		}

		.inline-figure-left {
			display: inline-block;
			float: left;
			margin: 0.5em 2em 2em 0;
		}

		.inline-figure-right {
			display: inline-block;
			float: right;
			margin: 0.5em 0 2em 2em;
		}
	}