// -------------------------------------
//   Event Module
// -------------------------------------

	.event-container {
		.headshot-block {
			margin: @content-gutter 0 0 @content-gutter;
			display: inline-block;
			float: left;
		}

		.event-container-content {
			padding: @content-gutter;
			overflow: hidden;

			h3 {
				margin-bottom: 0;
				text-transform: uppercase;
				font-size: @font-size-small;
				color: @heart-red;
			}

			p {
				font-size: @font-size-base;
				font-family: @font-family-base-medium;
			}

			.presented-block,
			.time-block {
				margin-top: @content-gutter;
				display: inline-block;
				width: 50%;
			}

			.presented-block {
				float: left;

				h2 {
					margin-bottom: 0;
					color: @base-text-color;
					font-size: @font-size-medium + 2;
					font-family: @font-family-base-medium;
				}
			}

			.time-block {
				float: right;
				text-align: right;

				h3 {
					color: @heart-red;
					font-size: @font-size-base;

					span {
						margin-right: 5px;
						display: inline-block;
						padding: 1px 10px;
						background: @heart-red;
						border-radius: 99px;
						color: #fff;
					}
				}

				p {
					margin-top: 4px;
					font-size: @font-size-base - 2;
					font-family: @font-family-base-medium;
				}

				a { 
					float: right; 

					p { 
						font-size: @font-size-base 
					}

				}

				.registered {
					color: @heart-red;
					font-size: @font-size-base;
				}

				.registered-hidden {
					display: none;
					color: @heart-red;
					font-size: @font-size-base;
				}

			}
		}
	}

	// ------ event-container on registration page ------ //
	.register-event {
		margin: @content-gutter -@content-gutter 0 -@content-gutter;
		background: #fcfcfc;
		box-shadow: inset 0 0 4px rgba(0,0,0,0.075);

		.event-container-content {

		}
	}

// -------------------------------------
//   Workcast Player Container Overrides
// -------------------------------------

	#wcint_playerwrapper {
		display: block;
		margin: 0; padding: 0;

		width: 100%;
		max-width: 680px;
	}

// -------------------------------------
//   Workcast Question Box Overrides
// -------------------------------------

	.wcintaq_askbutton { display: none; }

	.workcast-question-form {
		.workcast-question-form-prompt {
			.wcint_askaquestionbox {
				display: block;
				margin: 0;
				padding: 0;

				width: 100%;
				box-shadow: none;
				border-radius: 0;
				border: none;
				background: none;

				h2 {
					padding: 0;
					display: block;
					width: 100%;

					color: @heart-red;
					text-transform: uppercase;
					font-size: @font-size-base;
				}

				.close { display: none; }

				.wcint_askquestion {
					display: block;
					float: none;
					width: 100%;

					label { display: none; }

					#wcintaq_question {
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;

						width: 100% !important;

						padding: @default-gutter / 2;
						font-size: @font-size-medium;
					}

					#wcintaq_ok {
						.red-action-mixin();

						float: right;
						margin: 0;
						width: 180px;
						font-size: @font-size-medium;
					}

					#wcintaq_cancel { display: none; }
				}
			}
		}
	}

	#wcint_askaquestioncontainer {
		margin: 0 !important;

		#wcintaq_allquestions {
			.wcintaq_allquestions_item {
				padding: 0 !important;
				font-family: @font-family-base-medium;

				span { font-family: @font-family-base; }
			}
		}
	}