// -------------------------------------
//   Modal
// -------------------------------------
	
	// ----- Default Modal ----- //

	.modal {
		overflow: hidden !important;
		
		.modal-dialog{
			margin: @default-gutter auto 0 auto;

			.modal-content {
				background: #f7f7f7;
				z-index: 99;
				
				border: none;
				border-radius: @default-radius*2;
				box-shadow: 0 5px 15px rgba(0,0,0,0.25);

				.modal-header {
					background: #FFF;
					.border-top-radius(@default-radius*2);

					.header-title {
						float: left;
						margin: 0;
						line-height: 1.35;

						span {
							margin-left: 0.2em;
							color: @heart-red;

							i {
								font-size: 60%;

								&:before { margin-right: 0; }
							}
						}
					}

					.close {
						margin-top: 0;
						opacity: 1;
						color: rgba(0,0,0,0.5);

						i, p { display: block; float: left; }
						p { margin: 5px 0 0 5px; }

						&:active, &:hover {
							color: @heart-red;
						}
					}
				}

				.modal-body {
					.last-item { margin-bottom: 0; }

					.contact-email {
						display: block;
						margin: @content-gutter 0;
						font-family: @font-family-base-medium;

						i {
							float: left;
							font-size: 18px;
							margin: 2px 4px 0 0;
						}
					}
				}
			}
		}
	}
	
	// ----- E-Module Modal ----- //

	.video-modal,
	.module-modal {
		.modal-dialog {
			width: 984px;
			height: 657px;

			.modal-content {
				background: #e5e5e5;
				overflow: hidden;
			}
		}

		.modal-content,
		.modal-body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		.fullwidth-wrapper {
			display: block;
			width: 984px;
			height: 602px;
			overflow-y: scroll;

			background: #F9F9F9;
			.border-bottom-radius(@default-radius*2);

			.fullwidth-content {
				padding: @content-gutter;

				h2 { margin: 1em 0 0.5em 0; }
				ul {
					list-style-type: disc;
					padding-left: 1em;
					
					li { margin-bottom: 1em;}
				}
			}
		}
		
		.video-wrapper,
		.module-wrapper {
			position: relative;
			display: block;
			width: 984px;
			height: 602px;
			
			// ----- Sidebar Style----- //
			.modal-sidebar {

				z-index: 10;
				overflow-y: auto;
				position: absolute;
				width: 272px;
				// height: 602px;
				height: 100%;
				right: 0;

				background: #f1f1f1;
				box-shadow: inset 1px 0 0 #e5e5e5;
				border-bottom-right-radius: @default-radius*2;
				
				.modal-sidebar-content {
					h3 { padding: @content-gutter; padding-bottom: 0; }

					.module-home-btn { cursor: pointer; }

					// .module-menu-buttons{
					// 	height: 486px;
					// 	overflow: auto;
					// 	overflow-x: hidden;
					// }

					.smalltext-list {
						font-size: @font-size-base - 2;
						line-height: @font-size-base;
					}

					.chapter-btn a {
						display: block;
						padding: @content-gutter/1.5 @content-gutter;

						&:hover { background: rgba(0,0,0,0.05); }
						&:active { background: rgba(0,0,0,0.65); color: #fff; }
					}

					.current-chapter a {
						background: rgba(0,0,0,0.55);
						color: #fff;

						&:hover { background: rgba(0,0,0,0.55); cursor: default; }
					}
				}
			}

			.container {
				position: absolute;
				width: 712px;
				height: 602px;
				left: 0;
				overflow: hidden;
				
				// ----- Gallery Style ----- //
				.gallery {
					background: #f7f7f7;
					
					.flickity-page-dots { bottom: -34px; }



					.flickity-prev-next-button {
						top: auto;
						bottom: -81px;
						
						display: block;
						margin: 0; padding: 0;
						width: 100px;
						height: 54px;
						
						color: #ffffff;
						text-shadow: 0 -1px 0 rgba(0,0,0,0.75);

						outline: none;
						border: none;
						border-radius: 0;
						
						opacity: 1;
						#gradient > .vertical(#646464, #4b4b4b);
						box-shadow: inset 0 0 30px rgba(255,255,255,0.1);
					
						&:hover {
							opacity: 1;
							#gradient > .vertical(#6E6E6E, #4b4b4b);
							box-shadow: inset 0 0 30px rgba(255,255,255,0.1);
						}

						&:active {
							opacity: 1;
							#gradient > .vertical(#4b4b4b, #646464);
							box-shadow: inset 0 0 30px rgba(0,0,0,0.1);
						}

						&:disabled {
							opacity: 0.5;
						}

						svg { display: none; }
					}

					.flickity-prev-next-button.previous {
						border-bottom-left-radius: @default-radius*2;
						left: 0;
						
						&:after {
							content: 'Previous';
						}
					}

					.flickity-prev-next-button.next {
						right: 0;
						
						&:after {
							content: 'Next';
						}
					}
				}

				.gallery, .gallery-cell {
					display: block;
					width: 712px;
					height: 550px;

					.cell-scroll {
						display: block;
						height: 550px;
						overflow-y: scroll;

						.cell-content {
							padding: @default-gutter @default-gutter*1.5;
						}
					}
				}
			}
		}
	}

	// ----- Video-Module Modal ----- //

	.video-modal,
	.video-module-modal {
		padding-top: @default-gutter !important;
		padding-right: @default-gutter !important;
		padding-bottom: @default-gutter * 2 !important;
		padding-left: @default-gutter !important;

		.modal-dialog {
			width: 100%;
			height: 100%;

			.modal-content {
				background: #e5e5e5;
				overflow: hidden;

				.modal-body { padding-bottom: 55px; }
			}
		}

		.video-wrapper,
		.module-wrapper {
			width: 100%;
			height: 100%;

			.modal-sidebar {
				right: 0;
				z-index: 10;

				width: 322px;
				height: 100%;
				overflow-y: auto;
			}

			.container {
				z-index: 5;
				padding-right: 322px;
				padding-bottom: 54px;

				width: 100%;
				height: 100%;

				.flickity-viewport { background: #000000; }

				// ----- Gallery Style ----- //

				.gallery {
					top: 0;
					width: 100%;
					height: 100%;

					.gallery-cell {
						width: 100%;
						height: 100%;

						.cell-scroll {
							height: 100%;
							overflow-y: hidden;

							.cell-content {
								display: block;
								width: 100%; height: 100%;
								padding: 0;

								.container {
									padding: 0;

									.video-js {
										width: 100%;
										height: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// ----- Video Modal ----- //

	.video-modal {
		.video-wrapper {
			.modal-sidebar {
				width: 272px;

				.video-sidebar-content {
					padding: @content-gutter;
				}
			}

			.container {
				padding-right: 272px;
				padding-bottom: 0;

				.video-js {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	// ----- HCP Confirmation Modal ----- //

	.hcp-modal {
		.login {
			padding: @content-gutter;

			.login-card {
				max-width: none;
				margin: 0;
			}
		}
	}

	// ----- Event Registration Modal ----- //

	.registration-confirmation {

		.date {
			font-family: @font-family-base-medium;

		}

		.time {
			color: @heart-red;
		}

	}


	.gallery-page-status { display:none; }
	


	// ------ iPad Portrait ------ //
	@media (max-width: @tablet-max) {
		.module-modal {
			.modal-dialog {
				width: 712px;
				height: 807px;
			}

			.fullwidth-wrapper {
				width: 712px;
				height: 752px;
			}

			.module-wrapper {
				height: 752px;

				.modal-sidebar {
					height: 752px;
				}

				.container {
					height: 752px;

					.gallery, .gallery-cell {
						height: 700px;

						.flickity-prev-next-button.next {
							border-bottom-right-radius: @default-radius*2;
						}

						.cell-scroll {
							height: 700px;
						}
					}
				}
			}
		}	
		
		.video-modal {
			.modal-dialog {
				width: 560px;
				height: auto;
			}

			.video-wrapper {
				width: 560px;
				height: auto;
				
				.modal-sidebar,
				.container {
					position: static;
					display: block;
					width: 100%;
				}

				.modal-sidebar {
					height: auto;
					box-shadow: inset 0 -1px 0 #e5e5e5;

					p { margin-bottom: 0; }
				}
			}
		}
	}
	// ------ ------------- ------ //


	// ------ Phone Large ------ //
	@media (max-width: @phone-lg-max) {

		.modal, .hcp-modal {

			max-width: 414px;
			height: 100%;
			max-height: 736px;

			.modal-dialog {
				width: 374px;
				height: 506px;
			}

		}

		.mobile-module-menu-btn {

			width: 374px;
			height: 40px;

			background: rgba(108,108,108,1);
			box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
			color: #fff;

			display:table;

			.mobile-module-menu-title {
				width: 95%;
				// float: right;
				margin: 0;
				padding: 5px;
				font-size: 0.75em;
				line-height: 14px;
				display: table-cell;
				vertical-align: middle;
			}

			.icon-more {
				width: 5%;
				float: left;
				text-align: center;
				padding-top:8px;
			}
		}



		.module-modal {
			.modal-dialog {
				width: 374px;
				height: 616px;
			}

			.fullwidth-wrapper {
				width: 374px;
				height: 561px;
			}

			.module-wrapper {
				height: 616px;

				.modal-sidebar {
					width: 374px;
					height: 300px;
					border-bottom-right-radius: 0px;
					display: none;
				}

				.container {
					height: 616px;
					width: 374px;

					.gallery, .gallery-cell {
						height: 507px;
						width: 374px;

						.flickity-prev-next-button.next {
							border-bottom-right-radius: @default-radius*2;
						}

						.cell-scroll {
							height: 506px;

							img { max-width: 274px; height: auto; }
						}
					}
				}
			}
		}	
		
		.video-modal, .video-module-modal {
			.modal-dialog {
				width: 374px;
				height: 616px;
				margin: 0;

			}

			.module-wrapper {
				height: 466px;

				.container {
					height: 576px;
					padding: 0;

					.gallery, .gallery-cell {
						height: 467px;
					}
				}
			}

			.video-wrapper {
				width: 374px;

				
				.modal-sidebar,
				.container {
					position: static;
					display: block;
					width: 100%;
					padding: 0;
				}

				.modal-sidebar {
					height: auto;
					box-shadow: inset 0 -1px 0 #e5e5e5;

					p { margin-bottom: 0; }
				}
			}

		}

		.player .video-wrapper { height: 468px !important;}


		// Page Dots Alternative
		.flickity-page-dots { display: none; }

		.gallery-page-status {

			display: block;

			position: absolute;
			bottom: 60px;
			width: 374px;

			p {
				width: 374px; 
				margin: 0;
			    padding: 0;

				text-align: center;
			    font-weight: bold;
			    text-transform: uppercase;

			    sup {
			    	top: -0.1em !important;
			    }
			}
		}

	}
	// ------ ------------- ------ //


	// ------ Phone Large ------ //
	@media (max-width: @phone-m-max) {

		.modal, .hcp-modal {

			max-width: 375px;
			height: 100%;
			max-height: 608px;

			.modal-dialog {
				width: 335px;
				height: 528px;
			}

		}

		.mobile-module-menu-btn {

			width: 335px;
			height: 40px;

			background: rgba(108,108,108,1);
			box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
			color: #fff;

			display:table;

			.mobile-module-menu-title {
				width: 95%;
				// float: right;
				margin: 0;
				padding: 5px;
				font-size: 0.65em;
				line-height: 14px;
				display: table-cell;
				vertical-align: middle;
			}

			.icon-more {
				width: 5%;
				float: left;
				text-align: center;
				padding-top:8px;
			}
		}



		.module-modal {
			.modal-dialog {
				width: 335px;
				height: 528px;
			}

			.fullwidth-wrapper {
				width: 335px;
				height: 472px;
			}

			.module-wrapper {
				height: 528px;

				.modal-sidebar {
					width: 335px;
					height: 260px;
					border-bottom-right-radius: 0px;
					display: none;
				}

				.container {
					height: 528px;
					width: 335px;

					.gallery, .gallery-cell {
						height: 420px;
						width: 335px;

						.flickity-prev-next-button.next {
							border-bottom-right-radius: @default-radius*2;
						}

						.cell-scroll {
							height: 418px;

							img { max-width: 180px; height: auto; }
						}
					}
				}
			}
		}	
		
		.video-modal, .video-module-modal {
			.modal-dialog {
				width: 335px;
				height: 528px;
				margin: 0;

			}

			.module-wrapper {
				height: 378px;

				.container {
					height: 488px;
					padding: 0;

					.gallery, .gallery-cell {
						height: 379px;
					}
				}
			}

			.video-wrapper {
				width: 335px;

				
				.modal-sidebar,
				.container {
					position: static;
					display: block;
					width: 100%;
					padding: 0;
				}

				.modal-sidebar {
					height: auto;
					box-shadow: inset 0 -1px 0 #e5e5e5;

					p { margin-bottom: 0; }
				}
			}

		}


		// Page Dots Alternative
		.flickity-page-dots { display: none; }

		.gallery-page-status {

			position: absolute;
			bottom: 60px;
			width: 335px;

			p {
				width: 335px; 
				margin: 0;
			    padding: 0;

				text-align: center;
			    font-weight: bold;
			    text-transform: uppercase;

			    sup {
			    	top: -0.1em !important;
			    }
			}
		}

	}
	// ------ ------------- ------ //


	// ------ Phone Large ------ //
	@media (max-width: @phone-s-max) {

		.modal, .hcp-modal {

			max-width: 320px;
			height: 100%;
			max-height: 568px;

			.modal-dialog {
				width: 280px;
				height: 488px;
			}

		}

		.mobile-module-menu-btn {

			width: 280px;
			height: 40px;

			background: rgba(108,108,108,1);
			box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
			color: #fff;

			display:table;

			.mobile-module-menu-title {
				width: 95%;
				// float: right;
				margin: 0;
				padding: 5px;
				font-size: 0.65em;
				line-height: 14px;
				display: table-cell;
				vertical-align: middle;
			}

			.icon-more {
				width: 5%;
				float: left;
				text-align: center;
				padding-top:8px;
			}
		}



		.module-modal {
			.modal-dialog {
				width: 280px;
				height: 488px;
			}

			.fullwidth-wrapper {
				width: 280px;
				height: 432px;
			}

			.module-wrapper {
				height: 488px;

				.modal-sidebar {
					width: 280px;
					height: 220px;
					border-bottom-right-radius: 0px;
					display: none;
				}

				.container {
					height: 488px;
					width: 280px;

					.gallery, .gallery-cell {
						height: 380px;
						width: 280px;

						.flickity-prev-next-button.next {
							border-bottom-right-radius: @default-radius*2;
						}

						.cell-scroll {
							height: 378px;

							img { max-width: 180px; height: auto; }
						}
					}
				}
			}
		}	
		
		.video-modal, .video-module-modal {
			.modal-dialog {
				width: 280px;
				height: 488px;
				margin: 0;

			}

			.module-wrapper {
				height: 338px;

				.container {
					height: 448px;
					padding: 0;

					.gallery, .gallery-cell {
						height: 339px;
					}
				}
			}

			.video-wrapper {
				width: 280px;

				
				.modal-sidebar,
				.container {
					position: static;
					display: block;
					width: 100%;
					padding: 0;
				}

				.modal-sidebar {
					height: auto;
					box-shadow: inset 0 -1px 0 #e5e5e5;

					p { margin-bottom: 0; }
				}
			}

		}


		// Page Dots Alternative
		.flickity-page-dots { display: none; }

		.gallery-page-status {

			position: absolute;
			bottom: 60px;
			width: 280px;

			p {
				width: 280px; 
				margin: 0;
			    padding: 0;

				text-align: center;
			    font-weight: bold;
			    text-transform: uppercase;

			    sup {
			    	top: -0.1em !important;
			    }
			}
		}

	}
